/* js-carousel.css */

body {
    margin: 0px;
}
.main-block {
    overflow-x: hidden;
    /*width: 100%;*/
    white-space: nowrap;
}
.block {
    position: relative;
    background-color: #abc;
    width: 532px;
    height: 532px;
    /*float: left;*/ /* this option don't make gap between elements */
    display: inline-block; /* this option make gap between elements */
    margin: 5px;
    text-align: center;
}
.block img {
    position: relative;
    top: 10px;
}
.active {
    background-color: rgb(226, 64, 64)
}
/* css3 transform and transition */
.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
}
.van {
    top: 45%;
    left: 44%;
}
.move-right {
    transform: translate(350px, 0);
    -webkit-transform: translate(350px, 0); /** Chrome & Safari **/
    -o-transform: translate(350px, 0); /** Opera **/
    -moz-transform: translate(350px, 0); /** Firefox **/
}
.rotate-clock-wise {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); /** Chrome & Safari **/
    -o-transform: rotate(360deg); /** Opera **/
    -moz-transform: rotate(360deg); /** Firefox **/
}